body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 

  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    background-color: #f0f0f0; 
  }
 
.sketchpad {
    border: 5px solid #333;
    margin-right: 20px;
    margin-bottom: 1px;
    position: relative; 
    .sketchpad {
      background-color: #f0f0f0; 
    }
    
  }
  
  canvas {
    border: 1px solid #333;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  button, input[type="color"] {
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button {
    background-color: #19c6e5;
    color: white;
  }
  
  label {
    font-size: 14px;
    margin-bottom: 5px;
  }


button, input[type="color"] {
    margin: 7px;
    padding: 15px;
    font-size: 16px;
    /* border: 3px; */
    border-color: #fff;
    cursor: pointer;
    border-radius: 10px;
    width: 100px; 
    height: 40px;
    /* border: 2px solid; */
  }
  

  .custom-color-picker {
    /* Set the width and height of the input to your desired size */
    width: 40px;
    height: 40px;
    
    /* Style the border and background color */
    border: 1px solid transparent; /* Set border color to transparent */
    background-color: #fff;
    
    /* Customize the appearance of the color indicator */
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
  }
  
  /* Style the color indicator circle */
  .custom-color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  .custom-color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    box-shadow: none;
  }
  
  .additional-controls {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px; /* Adjust the margin as needed */
    background-color: #f0f0f0; 

  }
  
  .additional-controls button {
    margin-top: 1px;
    padding: 10px;
    font-size: 16px;
    border: none;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #19c6e5;
    color: white;
  }